<html>

    <h2> Customer information System </h2> 

    <br>
    <a href="{{ url_for('savecustomerrecord') }}"> New customer Record </a>
    <a href="{{ url_for('saveorderrecord') }}"> New order Record </a>
    <br>

    <form action="{{ url_for('filterrecords') }}" method="POST">
    {% comment %} add filterrecords options information {% endcomment %}
        <select>
            <option value="#">##</option>
            <option value="#">##</option>
            <option value="#">##</option>
            <option value="#">##</option>
            <option value="#">##</option>
        </select>
        <input type="submit" value="filter">

    </form>

    <br>

    <table>

        <tr>
            
            <td > first_name </td>
            <td > last_name </td>
            <td > address</td>
            <td> phone_no </td>
            <td> e_mail  </td>

        </tr>

        {%  for record in records %}
            <tr>
                <td> <a href="{{ url_for('customerinfo', customer_id = record.customer_id) }}"> {{ 'record.name' }} </a> view </td>
                <td> <a href="{{ url_for('editrecord', customer_id = record.customer_id) }}"> edit </a>, 
                    <a href="{{ url_for('deletecustomer', customer_id = record.customer_id) }}"> delete customer</a>
                </td>
            </tr>
            <tr>
                <td> <a href="{{ url_for('orderinfo', order_id = record.order_id) }}"> {{ 'record.item' }} </a> view </td>
                <td> <a href="{{ url_for('editrecord', order_id = record.order_id) }}"> edit </a>, 
                    <a href="{{ url_for('deleterorder', order_id = record.order_id) }}"> delete order </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</html>