<html>
    <body>

        <h2> Customer information System </h2> 

        <br>
        <a href="{{ url_for('savecustomerrecord') }}"> New customer</a>
        <br>
        <a href="{{ url_for('saveorderrecord') }}"> New order</a>
        <br>

        <form action="{{ url_for('filterrecords') }}" method="POST">
            <select>
                <option value="#">##</option>
                <option value="#">##</option>
                <option value="#">##</option>
                <option value="#">##</option>
                <option value="#">##</option>
            </select>
            <input type="submit" value="filter">

        </form>

        <table>

            <tr>
                
                <td > first_name </td>
                <td > last_name </td>
                <td > address</td>
                <td> phone_no </td>

            </tr>
            <br>
            {%  for record in records %}
                <tr>
                    <td> <a href="/customerdetails/{{record.customer_id}}"> {{record.first_name }} {{record.last_name}} </a> </td>
                    <td> <a href="/editcustomerrecord/{{record.customer_id}}"> edit customer </a></td>
                    <td> <a href="/deletecustomerrecord/{{record.customer_id}}"> delete customer</a></td>
                </tr>
            {% endfor %}

        </table>
        <br>
        <table>

            <tr>
                
                <td > item </td>
                <br>
                <td > quantity </td>
                <br>
                <td > price </td>

            </tr>
            <br>
            {%  for record in records %}
                <tr>
                    <td> <a href="/customerorder/{{record.order_id}}"> {{record.item }} </a> </td>
                    <td> <a href="/editorderrecord/{{record.order_id}}"> edit order</a></td>
                    <td> <a href="/deleteordererrecord/{{record.order_id}}"> delete order</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>